<section class="orders-show">

  <header class="page-header">
    <h1>Order <%= @order.id %></h1>
  </header>

  <header class="page-header">
    <h2>Ordered by <%= @order.email %></h2>
  </header>

 
  <tbody>
        <% @lineItems.each do |item| %>
          <h3>===============</h3>
          <h3>Name <%= item.product.name %></h3>
          <h3>Description <%= item.product.description %></h3>
          <h3>Image <%= item.product.image %></h3>
          <%= image_tag item.product.image, class: 'main-img' %>
          <h3>Quantity <%= item.quantity %></h3>
          <h3>Total <%= humanized_money_with_symbol item.total_price_cents/100 %></h3>
          <h3>===============</h1>
          
          
        
      </tbody>
<% end %>


<header class="page-header">
<h1>Order Total <%= humanized_money_with_symbol @order.total_cents / 100%></h1>
</header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>



